.img {
    margin-left: 40%;
    margin-top: 4%;
}
ion-item {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.boton {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 60%;
    margin-left: 20%;
}