// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.my-modal-css .modal-wrapper {
    height: 60%;
    width: 90%;
    top: 10%;
    position: absolute; 
    display: block;  
 }

 @font-face{
    font-family: 'Dancing Script', cursive;
    src : '../assets/fonts/dancing.woff2';
}
